@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<h4>Adresse</h4>

<address>
    23 Avenue de la Réussite<br />
    Montpellier, 34000 France<br />
    <abbr title="Phone">Téléphone</abbr>
    04.66.11.23.69
</address>

<address>
    <strong>Responsable de l'association SportAsso</strong><a href="mailto:Support@example.com"> sami@sportasso.fr</a><br />
    <strong>Recrutement</strong> <a href="mailto:Marketing@example.com">romain@sportasso.fr</a>
</address>