@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/60/16/8657a58c39a0b32.jpg'); background-size: cover; background-position: center; border-radius: 0 0 6px 6px; ">
    <br /><br /><h2 style="color: black; text-align:center;">PLUS QU'UNE ASSOCIATION</h2>
    <p class="lead" style="color: black; text-align: center; font-weight: bold;">respect, engagement, persévérance et travail.</p>
    <br /><br /><br />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>EN CHIFFRES</h2>
        <p>
            Plus de <b>10 centres sportifs</b> et
            plus de <b>200 jeunes adhérents</b> inscrits à nos programmes sportifs.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ACTUALITÉS</h2>
        <p>Partenariat - <b>Gucci</b> soutient les actions de SportAsso à travers une opération solidaire.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RECRUTEMENT</h2>
        <p>Nous recherchons actuellement un <b>encadrant</b> pour venir entrainer une nouvelle section de <b>Basketball</b>.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>